@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
  }
  
  a {
    text-decoration: none;
  }
  html{
    line-height: 1.15;
    text-size-adjust: 100%;
  }
  body {
    background: whitesmoke;
    margin: 0;  
    display: block;
    margin: 8px;
  }
  .grhGlo { background: rgb(17, 17, 17); padding-top: 10px; padding-bottom: 10px; }
  .bMMQoN { display: flex; -webkit-box-align: center; align-items: center; }
  .fleBIp { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; width: 95px; height: 60px; }
  .fimZiA { display: flex; }
  .hFjpnA { max-height: 60px; }
  .jBRooQ { flex: 1 1 0%; -webkit-box-pack: end; justify-content: flex-end; display: flex; -webkit-box-align: center; align-items: center; }


.XKXkR { font-weight: bold; font-size: 19px; line-height: 26px; color: rgb(255, 255, 255); text-transform: uppercase; display: inline-block; padding: 12px 30px; }
.XKXkR:hover { cursor: pointer; color: rgb(208, 33, 40); }

.iWNtZY { display: inline-block; padding-left: 15px; }

.hKtmAa { display: flex; opacity: 0; visibility: hidden; flex-direction: column; position: absolute; list-style: none; background: rgb(17, 17, 17); color: rgb(255, 255, 255); transform: translateY(-20px); transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, visibility 0s ease 0s; padding: 10px 25px 10px 30px; }
.hKtmAa a { color: rgb(255, 255, 255); text-decoration: none; display: block; margin-top: 5px; margin-bottom: 5px; }
.hKtmAa a:hover { color: rgb(208, 33, 40); }
.lbwbop { color: rgb(255, 255, 255); background: rgba(237, 28, 36, 0.3); border-color: rgb(208, 33, 40); }
.lbwbop:hover { background: rgb(255, 0, 10); }

.eiYoaF {
  background: black;
  top: 80px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding-left: 65px;
  padding-top: 30px;
  width: 350px;
}
nav {
  display: block;
}
  .container {
    width: min(80%, 1200px);
    margin: auto;
    min-height: 102vh;
    text-align: center;
    position: relative;
    top: -49px;
    height: 76%;
  }
  #mainl{
    width: 200px;
    height: 300px;
  }
  
  .hero {
    background: linear-gradient(95.78deg, rgb(69, 70, 110) 28.23%, rgb(21, 22, 74) 52.12%, rgb(61, 21, 66) 100%);
    place-items: bottom;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: contain;
    border: 2px solid #800000;
    display: grid;
  }
  
  .hero-text {
    color: #800000;
    display: inline-block;
    line-height: 1;
    margin: 5em auto;
    z-index: 1;
  }
  .hero-text2 {
    color: #800000;
    position: relative;
    top: 100px;
    z-index: 1;
  }
  span {
    display: inline-block;
    margin-right: auto;
  
    position: relative;
    font-size: clamp(1.5rem, 5vw + 10px, 3rem);
    animation: reveal_anim 1s forwards;
  }
  #hero span::before {
    content: "";
    position: absolute;
    background-color: lavenderblush;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  a {
    text-decoration: none;
  }
  
  .cta {
    display: inline-block;
    margin-right: auto;
    margin-top: 1em;
    padding: 0.2em 0.5em;
    font-size: clamp(1rem, 5vw, 2rem);
    border: 2px solid blue;
    animation: reveal_anim 1s forwards;
    animation-delay: 500ms;
    opacity: 0;
  
  }
/* End Hero Section */
/* Servicesss Section */
#services{
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 100px 0;
    border-top: 5px;
    margin-top: 5px;
    /*this flex overrised the container style*/
}   
#services .section-title{
    font-size: 4rem;
    font-weight: 300;
    /*light weight*/
    color: #6f2a70;
    margin-bottom: 1px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#services .section-title span{
    color:#800000;
    font-size: 3rem;
}
#services .section-title{
  color: black;
  font-size: 3rem;
}
#services .service-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
}
#services .service-bottom {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
#services .service-item {
    flex-basis: 80%;
    display: fleq;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-image: url(./img/stars.jpg);
    background-size: cover;
    margin: 10px 5%;
}
#services .service-item::after{
  content:'';
  position:absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .1;
  z-index: -1;
}
.icon img{
  position:relative;
  left: 425px;
}
#services .service-item p {
    color: #800000;
    font-size: 20px;
}
#services .service-item h2 {
  color: white;
  position: relative;
  font-size: 30px;
  top: -60px;
}
#services .service .container {
    margin: 10px;
}
/* End of Servicesss Section */
/*keyframes*/
@keyframes reveal_anim{
    0% {
        transform: translateX(50%);
    }
    50% {
        opacity:0.5;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
